$link-color: #00A0D2;
$content-width: 100rem;

.btn-github {
  color: #ffffff !important;
  background-color: #000000 !important;
}

.btn-5gms {
  color: #000000 !important;
  background-color: #FFC000 !important;
}
.btn-5gcsc {
  color: #ffffff !important;
  background-color: #FF0000 !important;
}
.btn-uedc {
  color: #ffffff !important;
  background-color: #D17F79 !important;
}
.btn-5gbc {
  color: #ffffff !important;
  background-color: #70AD47 !important;
}
.btn-ea {
  color: #ffffff !important;
  background-color: #508002 !important;
}
.btn-5mbs {
  color: #ffffff !important;
  background-color: #607002!important;
}
.btn-7 {
  color: #ffffff !important;
  background-color: #70A802 !important;
}
.btn-8 {
  color: #ffffff !important;
  background-color: #80A082 !important;
}
.btn-9 {
  color: #ffffff !important;
  background-color: #90A008!important;
}
.btn-10 {
  color: #ffffff !important;
  background-color: #01A002 !important;
}
.btn-md {
  color: #ffffff !important;
  background-color: #385723 !important;
}
.btn-12 {
  color: #ffffff !important;
  background-color: #035002 !important;
}
.btn-3gpp {
  color: #ffffff !important;
  background-color: #0070C0 !important;
}
.btn-common {
  color: #000000 !important;
  background-color: #BFBFBF !important;
}
