$link-color: #00A0D2;
$content-width: 100rem;
$white: #000000;
$btn-c1: #10A002;
$btn-c2: #20A302;
$btn-c3: #30A802;
$btn-c4: #40A092;
$btn-c5: #508002;
$btn-c6: #607002;
$btn-c7: #70A802;
$btn-c8: #80A082;
$btn-c9: #90A008;
$btn-c10: #01A002;
$btn-c11: #02D002;
$btn-c12: #035002;
$btn-c13: #006002;
$btn-c14: #007002;

.btn-1
{
  @include btn-color($white, $btn-c1);
}

.btn-2
{
  @include btn-color($white, $btn-c2);
}

.btn-3
{
  @include btn-color($white, $btn-c3);
}

.btn-4
{
  @include btn-color($white, $btn-c4);
}

.btn-5
{
  @include btn-color($white, $btn-c5);
}

.btn-6
{
  @include btn-color($white, $btn-c6);
}

.btn-7
{
  @include btn-color($white, $btn-c7);
}

.btn-8
{
  @include btn-color($white, $btn-c8);
}

.btn-9
{
  @include btn-color($white, $btn-c9);
}

.btn-10
{
  @include btn-color($white, $btn-c10);
}

.btn-11
{
  @include btn-color($white, $btn-c11);
}

.btn-12
{
  @include btn-color($white, $btn-c12);
}

.btn-13
{
  @include btn-color($white, $btn-c13);
}

.btn-14
{
  @include btn-color($white, $btn-c14);
}
