$link-color: #00A0D2;
$content-width: 100rem;
$btn-c1: #10A002;
$btn-c2: #20A002;
$btn-c3: #30A002;
$btn-c4: #40A002;
$btn-c5: #50A002;
$btn-c6: #60A002;
$btn-c7: #70A002;
$btn-c8: #80A002;
$btn-c9: #90A002;
$btn-c10: #01A002;
$btn-c11: #02A002;
$btn-c12: #03A002;
$btn-c13: #00A002;
$btn-c14: #00A002;

.btn-1
{
  @include btn-color($white, $btn-c1);
}
