$link-color: #00A0D2;
$content-width: 100rem;

.btn-1 {
  color: #ffffff !important;
  background-color: #10A002 !important;
}
.btn-2 {
  color: #ffffff !important;
  background-color: #20A302 !important;
}
.btn-3 {
  color: #ffffff !important;
  background-color: #30A802 !important;
}
.btn-4 {
  color: #ffffff !important;
  background-color: #40A092!important;
}
.btn-5 {
  color: #ffffff !important;
  background-color: #508002 !important;
}
.btn-6 {
  color: #ffffff !important;
  background-color: #607002!important;
}
.btn-7 {
  color: #ffffff !important;
  background-color: #70A802 !important;
}
.btn-8 {
  color: #ffffff !important;
  background-color: #80A082 !important;
}
.btn-9 {
  color: #ffffff !important;
  background-color: #90A008!important;
}
.btn-10 {
  color: #ffffff !important;
  background-color: #01A002 !important;
}
.btn-11 {
  color: #ffffff !important;
  background-color: #02D002 !important;
}
.btn-12 {
  color: #ffffff !important;
  background-color: #035002 !important;
}
.btn-13 {
  color: #ffffff !important;
  background-color: #006002 !important;
}
.btn-14 {
  color: #ffffff !important;
  background-color: #007002 !important;
}
