$link-color: #00A0D2;
$content-width: 100rem;
$btn-1: #10A002;
$btn-2: #20A002;
$btn-3: #30A002;
$btn-4: #40A002;
$btn-5: #50A002;
$btn-6: #60A002;
$btn-7: #70A002;
$btn-8: #80A002;
$btn-9: #90A002;
$btn-10: #01A002;
$btn-11: #02A002;
$btn-12: #03A002;
$btn-13: #00A002;
$btn-14: #00A002;
