$link-color: #00A0D2;
$content-width: 100rem;
$white: #FFFFFF;
$btn-c1: #10A002;
$btn-c2: #20A302;
$btn-c3: #30A802;
$btn-c4: #40A092;
$btn-c5: #508002;
$btn-c6: #607002;
$btn-c7: #70A802;
$btn-c8: #80A082;
$btn-c9: #90A008;
$btn-c10: #01A002;
$btn-c11: #02D002;
$btn-c12: #035002;
$btn-c13: #006002;
$btn-c14: #007002;

.btn-1
{
  @include btn-color($btn-c1, $white);
};

.btn-2
{
  @include btn-color($btn-c2, $white);
};

.btn-3
{
  @include btn-color($btn-c3, $white);
};

.btn-4
{
  @include btn-color($btn-c4, $white);
};

.btn-5
{
  @include btn-color($btn-c5, $white);
};

.btn-6
{
  @include btn-color($btn-c6, $white);
};

.btn-7
{
  @include btn-color($btn-c7, $white);
};

.btn-8
{
  @include btn-color($btn-c8, $white);
};

.btn-9
{
  @include btn-color($btn-c9, $white);
};

.btn-10
{
  @include btn-color($btn-c10, $white);
};

.btn-11
{
  @include btn-color($btn-c11, $white);
};

.btn-12
{
  @include btn-color($btn-c12, $white);
};

.btn-13
{
  @include btn-color($btn-c13, $white);
}

.btn-14
{
  @include btn-color($white, $btn-c14);
}
