$link-color: #00A0D2;
$content-width: 100rem;
$btn-c1: #;
$btn-c2: #20A302;
$btn-c3: #30A802;
$btn-c4: #40A092;
$btn-c5: #508002;
$btn-c6: #607002;
$btn-c7: #70A802;
$btn-c8: #80A082;
$btn-c9: #90A008;
$btn-c10: #01A002;
$btn-c11: #02D002;
$btn-c12: #035002;
$btn-c13: #006002;
$btn-c14: #007002;

.btn-1 {
  color: #ffffff !important;
  background-color: #10A002 !important;
}
